@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: #151419;
    --background-adjacent-color: #312f3b;
    --lightened-background-adjacent-color: #363340;
    --table-separator-color: #454152;
    --refresh-inscription-color: #9c98ac;
    --navbar-background: #060507;
    --foreground: #fff;
    --first-theme-color: #A123F4;
    --second-theme-color: #603DEC;
    --card-background: #24222b;
    --pattern-white: #eeeeee;
    --theme-green-color: #4df632;
    --theme-red-color: #F12B30;
    --theme-orange-color: #F15C3F;
  }
}

/* SweetAlert2 Popup Styling */
.swal-custom-popup {
  background-color: var(--card-background);
  border: 1px solid var(--lightened-background-adjacent-color);
  border-radius: 0;
  color: var(--foreground);
}

.swal-custom-footer {
  padding-top: 1.5em;
  position: relative; /* Add this */
}

.swal-custom-footer::before { /* Add this new pseudo-element */
  content: '';
  position: absolute;
  top: -5px; /* Position it 1px above the footer */
  left: 0;
  right: 0;
  height: 10px;
  background-color: var(--card-background);
}

a.btn_grd {
  margin: auto;
  padding: 1px;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(135deg, var(--first-theme-color), var(--second-theme-color));
  border: 0;
  border-radius: 0px;
  color: var(--foreground);
  font-weight: bold;
  display: inline-flex; /* Change from flex to inline-flex */
  justify-content: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  white-space: nowrap;
  transition: all .3s;
  position: relative;
  z-index: 1;
}

a.btn_grd.rtl {
  background-image: linear-gradient(135deg, var(--second-theme-color), var(--first-theme-color));
}

a.btn_grd:active, a.btn_grd:hover {
  outline: 0;
}

a.btn_grd span {
  background: var(--card-background);
  padding: 1rem 4rem;
  border-radius: 0px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

a.btn_grd:hover span {
  background: none;
  color: var(--foreground);
}

/* RTL specific styles */
.rtl {
  direction: rtl;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--background-adjacent-color);
}

::-webkit-scrollbar-thumb {
  background: var(--second-theme-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--first-theme-color);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--second-theme-color) var(--background-adjacent-color);
}
